*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.left{
    border: 2px solid rgb(245, 51, 51);
    height: 100%;
    width:25%;
    position: fixed;
    background-color: rgb(245, 51, 51);
}
.left h2{
    padding: 50px;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-size: x-large;
    font-weight: 800;
}
.nav-bar{
    padding:50px;
    text-decoration: none;

}
.navi{
    text-decoration: none;
    color: white;
}
.fonts{
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-size: x-large;
    font-weight: 800;
}
.right{
    padding-left: 400px;
    padding-top: 100px;
    font-size: xx-large;
}
.right h2{
    color: rgb(245, 51, 51);
    padding-top: 50px;
}
.right hr{
    width: 100px;
    height: 8px;
    background-color: rgb(245, 51, 51);
    border: 2px rgb(245, 51, 51);
    border-radius: 5px;
}
.para{
    padding-top: 50px;
}
p{
    /* padding-top: 50px; */
    font-size: large;
}
.right img{
    padding-top: 50px;
    height: 400px;
    width: 400px;
    opacity: 0.8;
}
.first, .sec{
    display: flex;
}
.first img{
    padding-left: 10px;
    opacity: 0.8;

}
img:hover{
    opacity: 1;
}
.sec img{
    padding-left: 10px;
    opacity: 0.8;
}
.sec img:hover{
    opacity: 1;
}
.three{
    display: flex;
    justify-content: space-around;
}
.three div{
    border-radius: 5px;
    border-style: solid;
    height: 325px;
    width: 270px;
    border-color: lightgrey;
    /* text-align: center; */
    background-color: lightgrey;

}
.form-inputs{
    padding-top:50px;

}
.inputs{
    color: grey;
    border: none;
    margin: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 9px;
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 25px;
    font-family:"Poppins", sans-serif ;
}
.form-inputs textarea{
    height: 100px;
}
.form-inputs button{
    border: none;
    margin: none;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    background: linear-gradient(rgb(243, 95, 95),rgb(245, 67, 67));
}
.inputs:focus{
    border: 2px solid black;
}
.credits{
    float: right;
    font-family: "Poppins", sans-serif;
}
span{
    color: rgb(245, 51, 51);
}
.photo1 img{
    height: 40px;
    width: 40px;
    padding-top: 4px;

}